<!DOCTYPE html>
<html lang="en">
<!-- head -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Agency Management</title>
    <link rel="stylesheet" href="../resource/css/main.css">
    <link rel="stylesheet" href="../resource/css/base.css">
    <link rel="stylesheet" href="../resource/font/fontawesome-free-5.12.1-web/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../resource/css/baocao.css">
    <script>
        window.jQuery || document.write(decodeURIComponent('%3Cscript src="js/jquery.min.js"%3E%3C/script%3E'))
    </script>
    <link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/19.2.7/css/dx.common.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/19.2.7/css/dx.light.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.2/jszip.min.js"></script>
    <script src="https://cdn3.devexpress.com/jslib/19.2.7/js/dx.all.js"></script>
    <script src="../resource/js/baocao.js"></script>
</head>
<!-- Body -->

<body>
    <main>
        <!-- header-->
        <header class="header">
            <div class="grid">
                <div class="header_container-1">
                    <!--place-->
                    <div class="header_brand">
                        <h1 class="header_brand-agency">Agency</h1>
                        <h1 class="header_brand-company">Company</h1>
                    </div>
                    <div class="header_address">
                        <span>Địa chỉ: KTX khu B, Đại học quốc gia TP HCM</span>
                    </div>
                    <div class="header_user">
                        Đăng nhập
                    </div>
                    <!-- <div class="header_user">
                        <i class="header_user-icon fas fa-user"></i>
                        <span class="header_user-name">
                            WayciQ
                        </span>
                    </div> -->
                </div>
                <div class="header_container-2">
                    <!-- header container 2-->
                    <nav class="header_navbar">
                        <ul class="header_navbar-list">
                            <li class="header_navbar-item ">
                                <div class="header_container-item">
                                    <a href="/dashboard" class="header__navbar-item-link">
                                        <i class="far fa-eye"></i> Tổng quan
                                    </a>
                                </div>
                            </li>
                            <li class="header_navbar-item">
                                <div class="header_container-item">
                                    <a href="/hanghoa" class="header__navbar-item-link">
                                        <i class="fas fa-cube"></i> Hàng hoá
                                    </a>
                                </div>
                            </li>
                            <li class="header_navbar-item">
                                <div class="header_container-item">
                                    <a href="/daily" class="header__navbar-item-link">
                                        <i class="fas fa-store-alt"></i> Đại lí
                                    </a>
                                </div>
                            </li>
                            <li class="header_navbar-item header_navbar-item-select">
                                <div class="header_container-item ">
                                    <a href="/baocao" class="header__navbar-item-link">
                                        <i class="fas fa-chart-line" style="font-size: 18px;"></i> Báo cáo
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div class="container_report">
            <div class="grid">
                <div class="grid__row body_content">
                    <div class="grid__column-2">
                        <div class="report">
                            <h1 class="report_heading-page">Báo cáo</h1>
                            <div class="report_select-wrap">
                                <div class="report-form">
                                    <div class="report-form-label">Mối quan tâm</div>
                                    <div class="report-form-value">
                                        <div id="radio-group-with-selection"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="report_select-wrap">
                                <div class="report-form">
                                    <div class="report-form-label">Thời gian</div>
                                    <span class="selected-date-label">Từ</span>
                                    <div id="selected-date-from"></div>
                                    <span class="selected-date-label">Đến</span>
                                    <div id="selected-date-to"></div>
                                    <button class="create-report">Tạo báo cáo</button>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="grid__column-10">
                        <div class="grid_form-report">

                            <table class="report-table">

                                <thead class="report-table-header">
                                    <tr>
                                        <td colspan="7" class="report-table_header-title">Báo Cáo Doanh số</td>
                                    </tr>
                                    <tr>
                                        <td colspan="7" class="report-table_header-time">Tháng: 1/2019</td>
                                    </tr>
                                    <tr>
                                        <td class="stt">STT</td>
                                        <td class="name_agency">Đại Lý</td>
                                        <td class="column_2">Số Phiếu Xuất</td>
                                        <td class="column_3">Tổng Trị Giá</td>
                                        <td class="column_4">Tỷ Lệ</td>
                                    </tr>
                                </thead>
                                <tbody class="report-table-body">
                                    <tr>
                                        <td class="stt">1</td>
                                        <td class="name_agency">Quan 1</td>
                                        <td class="column_2">25</td>
                                        <td class="column_3">8888888</td>
                                        <td class="column_4">40</td>
                                    </tr>
                                    <tr>
                                        <td class="stt">1</td>
                                        <td class="name_agency">Quan 1</td>
                                        <td class="column_2">25</td>
                                        <td class="column_3">8888888</td>
                                        <td class="column_4">40</td>
                                    </tr>
                                    <tr>
                                        <td class="stt">1</td>
                                        <td class="name_agency">Quan 1</td>
                                        <td class="column_2">25</td>
                                        <td class="column_3">8888888</td>
                                        <td class="column_4">40</td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>


    </main>
</body>