<!DOCTYPE html>
<html lang="en">
<!-- head -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Agency Management</title>
    <link rel="stylesheet" href="./resource/css/main.css">
    <link rel="stylesheet" href="./resource/css/base.css">
    <link rel="stylesheet" href="./resource/font/fontawesome-free-5.12.1-web/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<!-- Body -->

<body>
    <main>
        <!-- header-->
        <header class="header">
            <div class="grid">
                <div class="header_container-1">
                    <!--place-->
                    <div class="header_brand">
                        <h1 class="header_brand-agency">Agency</h1>
                        <h1 class="header_brand-company">Company</h1>
                    </div>
                    <div class="header_address">
                        <span>Địa chỉ: KTX khu B, Đại học quốc gia TP HCM</span>
                    </div>
                    <div class="header_user">
                        Đăng nhập
                    </div>
                    <!-- <div class="header_user">
                        <i class="header_user-icon fas fa-user"></i>
                        <span class="header_user-name">
                            WayciQ
                        </span>
                    </div> -->
                </div>
                <div class="header_container-2">
                    <!-- header container 2-->
                    <nav class="header_navbar">
                        <ul class="header_navbar-list">
                            <li class="header_navbar-item ">
                                <div class="header_container-item">
                                    <a href="/dashboard" class="header__navbar-item-link">
                                        <i class="far fa-eye"></i> Tổng quan
                                    </a>
                                </div>
                            </li>
                            <li class="header_navbar-item">
                                <div class="header_container-item">
                                    <a href="/hanghoa" class="header__navbar-item-link">
                                        <i class="fas fa-cube"></i> Hàng hoá
                                    </a>
                                </div>
                            </li>
                            <li class="header_navbar-item">
                                <div class="header_container-item">
                                    <a href="/daily" class="header__navbar-item-link">
                                        <i class="fas fa-store-alt"></i> Đại lí
                                    </a>
                                </div>
                            </li>
                            <li class="header_navbar-item header_navbar-item-select">
                                <div class="header_container-item">
                                    <a href="/baocao" class="header__navbar-item-link">
                                        <i class="fas fa-chart-line" style="font-size: 18px;"></i> Báo cáo
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div class="container_report">
            <div class="grid">
                <div class="grid_row">
                    <div class="grid_column">
                        <div class="grid__column-2">
                            <!-- category -->
                            <div class="cagetory">
                                <h1 class="cagetory_heading-page">Báo cáo</h1>
                                <ul class="cagetory-list">
                                    <h3 class="category-list_header">Nhóm hàng</h3>
                                    <li class="cagetory-item">
                                        <a href="/hanghoa.ejs" class="category-item_link">Nước ngọt</a>
                                        <i class="category-item-icon far fa-edit"></i>
                                    </li>
                                    <li class="cagetory-item">
                                        <a href="/hanghoa.ejs" class="category-item_link">Thực phẩm</a>
                                        <i class="category-item-icon far fa-edit"></i>
                                    </li>
                                    <li class="cagetory-item">
                                        <a href="/hanghoa.ejs" class="category-item_link">Dụng cụ gia dụng</a>
                                        <i class="category-item-icon far fa-edit"></i>
                                    </li>
                                    <li class="cagetory-item">
                                        <a href="/hanghoa.ejs" class="category-item_link">Giấy</a>
                                        <i class="category-item-icon far fa-edit"></i>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </main>
</body>