<%- include('../views/header.ejs') %>

    <body>
        <div class="container_body">
            <div class="grid">
                <div class="grid__row">
                    <div class="grid__column-2"></div>
                    <div class="grid__column-8">
                        <div class="chart-1">
                            <div id="pie">
                                <button class="change_chart chart_circle">Xem biểu đồ đường cột</button>
                            </div>
                            <div id="chart">
                                <button class="change_chart chart_column">Xem biểu đồ đường tròn</button>
                            </div>
                        </div>


                    </div>
                    <!-- <div class="grid__column-11-12">
                            <button class="btn_order" onclick="window.location.href='/order'">
                                <i class="fas fa-shopping-basket"></i>
                                <span class="add">Đặt hàng</span>
                            </button>
                        </div> -->
                </div>

                <div class="grid__row">
                    <div class="grid__column-2"></div>
                    <div class="grid__column-8">
                        <div id="chart_good"></div>
                    </div>
                </div>
            </div>
        </div>
    </body>


    </main>

    <script>
        $(document).ready(function() {
            $(".chart_column").click(function() {
                $("#pie").show(1000);
                $("#chart").hide(1000);
            });

            $(".chart_circle").click(function() {
                $("#pie").hide(1000);
                $("#chart").show(1000);
            });
            $('#dashboard').css('background-color', '#0078b6');

        })
    </script>
    <script src="../resource/js/chart.js"></script>
    </body>

    </html>