<!DOCTYPE html>
<html lang="en">
<!-- head -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Agency Management</title>
    <link rel="stylesheet" href="../resource/css/main.css">
    <link rel="stylesheet" href="../resource/css/base.css">
    <link rel="stylesheet" href="../resource/font/fontawesome-free-5.12.1-web/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<!-- Body -->

<body>
    <main>
        <!-- header-->
        <header class="header">
            <div class="grid">
                <div class="header_container-1">
                    <!--place-->
                    <div class="header_brand">
                        <h1 class="header_brand-agency">Agency</h1>
                        <h1 class="header_brand-company">Company</h1>
                    </div>
                    <div class="header_address">
                        <span>Địa chỉ: KTX khu B, Đại học quốc gia TP HCM</span>
                    </div>
                    <div class="header_user">
                        Đăng nhập
                    </div>
                    <!-- <div class="header_user">
                        <i class="header_user-icon fas fa-user"></i>
                        <span class="header_user-name">
                            WayciQ
                        </span>
                    </div> -->
                </div>
                <div class="header_container-2">
                    <!-- header container 2-->
                    <nav class="header_navbar">
                        <ul class="header_navbar-list">
                            <li class="header_navbar-item ">
                                <div class="header_container-item">
                                    <a href="/dashboard" class="header__navbar-item-link">
                                        <i class="far fa-eye"></i> Tổng quan
                                    </a>
                                </div>
                            </li>
                            <li class="header_navbar-item  header_navbar-item-select">
                                <div class="header_container-item">
                                    <a href="/hanghoa" class="header__navbar-item-link">
                                        <i class="fas fa-cube"></i> Hàng hoá
                                    </a>
                                </div>
                            </li>
                            <li class="header_navbar-item">
                                <div class="header_container-item">
                                    <a href="/daily" class="header__navbar-item-link">
                                        <i class="fas fa-store-alt"></i> Đại lí
                                    </a>
                                </div>
                            </li>
                            <li class="header_navbar-item">
                                <div class="header_container-item">
                                    <a href="/baocao" class="header__navbar-item-link">
                                        <i class="fas fa-chart-line" style="font-size: 18px;"></i> Báo cáo
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div class="container">
            <div class="grid">
                <div class="grid__row body_content">
                    <div class="grid__column-2">
                        <!-- category -->
                        <div class="category">
                            <h1 class="category_heading-page">DANH MỤC</h1>
                            <ul class="category-list">
                                <h3 class="category-list_header">Nhóm hàng</h3>
                                <li class="category-item">
                                    <a href="/hanghoa.html" class="category-item_link">Nước ngọt</a>
                                    <i class="category-item-icon far fa-edit"></i>
                                </li>
                                <li class="category-item">
                                    <a href="/hanghoa.html" class="category-item_link">Thực phẩm</a>
                                    <i class="category-item-icon far fa-edit"></i>
                                </li>
                                <li class="category-item">
                                    <a href="/hanghoa.html" class="category-item_link">Dụng cụ gia dụng</a>
                                    <i class="category-item-icon far fa-edit"></i>
                                </li>
                                <li class="category-item">
                                    <a href="/hanghoa.html" class="category-item_link">Giấy</a>
                                    <i class="category-item-icon far fa-edit"></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="grid__column-10">

                        <!-- search-product -->
                        <div class="search">
                            <div class="search-wrap">
                                <input type="text" class="search-input" name="searchProductByID" placeholder="Theo mã, tên hàng">
                                <button class="search-btn">
                                    <i class="search-btn-icon fas fa-search"></i>
                                </button>
                            </div>
                            <button class="btn btn--primary btn-add">Thêm mới</button>
                        </div>

                        <div class="grid__row">
                            <div class="grid__column-10-1">
                                <table class="table_container">
                                    <thead>
                                        <tr class="table-container_header">
                                            <th class="table-container_header-item code-product">Mã hàng</th>
                                            <th class="table-container_header-item name-product">Tên hàng</th>
                                            <th class="table-container_header-item price-product">Giá bán</th>
                                            <th class="table-container_header-item org-price-product">Giá vốn</th>
                                            <th class="table-container_header-item num-product">Tồn kho</th>
                                        </tr>
                                    </thead>
                                    <tbody>


                                        <tr class="table-container_body table-container_body_between">
                                            <td class="table-container_body-item">123123</td>
                                            <td class="table-container_body-item">Tả Quần Pampers M40 7-12kg (Bịch)</td>
                                            <td class="table-container_body-item">178,000</td>
                                            <td class="table-container_body-item">172,000</td>
                                            <td class="table-container_body-item">29</td>
                                        </tr>

                                        <tr class="table-container_body ">
                                            <td class="table-container_body-item">4902430340656</td>
                                            <td class="table-container_body-item">Tả Quần Pampers M40 7-12kg (Bịch)</td>
                                            <td class="table-container_body-item">178,000</td>
                                            <td class="table-container_body-item">172,000</td>
                                            <td class="table-container_body-item">29</td>
                                        </tr>
                                        <tr class="table-container_body table-container_body_between">
                                            <td class="table-container_body-item">4902430340656</td>
                                            <td class="table-container_body-item">Tả Quần Pampers M40 7-12kg (Bịch)</td>
                                            <td class="table-container_body-item">178,000</td>
                                            <td class="table-container_body-item">172,000</td>
                                            <td class="table-container_body-item">29</td>
                                        </tr>
                                        <tr class="table-container_body">
                                            <td class="table-container_body-item">4902430340656</td>
                                            <td class="table-container_body-item">Tả Quần Pampers M40 7-12kg (Bịch)</td>
                                            <td class="table-container_body-item">178,000</td>
                                            <td class="table-container_body-item">172,000</td>
                                            <td class="table-container_body-item">29</td>
                                        </tr>
                                        <tr class="table-container_body table-container_body_between">
                                            <td class="table-container_body-item">4902430340656</td>
                                            <td class="table-container_body-item">Tả Quần Pampers M40 7-12kg (Bịch)</td>
                                            <td class="table-container_body-item">178,000</td>
                                            <td class="table-container_body-item">172,000</td>
                                            <td class="table-container_body-item">29</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- add product  -->
        <div class="modal modal_add-product">
            <div class="modal_overlay"></div>
            <div class="modal_body">

                <!-- add product form -->
                <div class="auth-form">

                    <div class="auth-form_header">
                        <h3 class="auth-form_heading">Thêm hàng hoá</h3>
                    </div>
                    <div class="auth-form_body">
                        <div class="auth-form_body-left">
                            <div class="auth-form_group">
                                <span class="auth-form_info">Mã hàng</span>
                                <i class="auth-form_info-icon ma-hang fa fa-info-circle"></i>
                                <input type="text" class="auth-form_input" placeholder="Mã hàng tự động">
                            </div>
                            <div class="auth-form_group">
                                <span class="auth-form_info">Tên hàng</span>
                                <i class="auth-form_info-icon ten-hang fa fa-info-circle"></i>
                                <input type="text" class="auth-form_input">
                            </div>
                            <div class="auth-form_group">
                                <span class="auth-form_info">Nhóm hàng</span>
                                <i class="auth-form_info-icon nhom-hang fa fa-info-circle"></i>
                                <div class="auth-form_wrap">
                                    <input type="text" class="auth-form_input auth-form_input-group-product" placeholder="---Lựa chọn---">
                                    <i class="auth-form_arrow-icon fas fa-chevron-down"></i>
                                    <ul class="category-Product-list">
                                        <li class="category-Product-item">Nước ngọt

                                        </li>
                                        <li class="category-Product-item">Thực phẩm

                                        </li>
                                        <li class="category-Product-item">Dụng cụ gia dụng

                                        </li>
                                        <li class="category-Product-item">Giấy
                                        </li>
                                    </ul>
                                </div>
                                <div class="add-category">
                                    <i class="auth-form_plus-icon fas fa-plus"></i>

                                </div>
                            </div>
                            <div class="auth-form_group">
                                <span class="auth-form_info">Đơn vị tính</span>
                                <i class="auth-form_info-icon don-vi-tinh fa fa-info-circle"></i>
                                <input type="text" class="auth-form_input">
                            </div>
                        </div>
                        <div class="auth-form_body-right">
                            <div class="auth-form_group">
                                <span class="auth-form_info">Giá vốn</span>
                                <i class="auth-form_info-icon gia-von fa fa-info-circle"></i>
                                <input type="text" class="auth-form_input input-right" value="0">
                            </div>
                            <div class="auth-form_group">
                                <span class="auth-form_info">Giá bán</span>
                                <i class="auth-form_info-icon gia-ban fa fa-info-circle"></i>
                                <input type="text" class="auth-form_input input-right" value="0">
                            </div>
                            <div class="auth-form_group">
                                <span class="auth-form_info">Tồn kho</span>
                                <i class="auth-form_info-icon ton-kho fa fa-info-circle"></i>
                                <input type="text" class="auth-form_input input-right" value="0">
                            </div>
                        </div>
                    </div>
                    <div class="auth-form_controls">
                        <button class="btn btn-product-cancel">Huỷ bỏ</button>
                        <button class="btn btn--primary">Lưu</button>
                    </div>

                </div>


            </div>
        </div>
        <!-- edit and select category -->
        <div class="modal modal-category">
            <div class="modal_overlay"></div>
            <div class="modal_body">
                <div class="auth-form_min auth-form_min-add ">
                    <div class="auth-form_header ">
                        <h3 class="auth-form_heading">Thêm nhóm hàng</h3>
                    </div>
                    <div class="auth-form_body">
                        <div class="auth-form_group">
                            <span class="auth-form_info">Tên nhóm</span>
                            <input type="text" class="auth-form_input">
                        </div>
                    </div>
                    <div class="auth-form_controls">
                        <button class="btn btn-add-category-cancel">Huỷ bỏ</button>
                        <button class="btn btn--primary">Lưu</button>
                    </div>
                </div>
                <div class="auth-form_min auth-form_min-edit">
                    <div class="auth-form_header ">
                        <h3 class="auth-form_heading">Sửa nhóm hàng</h3>
                    </div>
                    <div class="auth-form_body">
                        <div class="auth-form_group">
                            <span class="auth-form_info">Tên nhóm</span>
                            <input type="text" class="auth-form_input">
                        </div>
                    </div>
                    <div class="auth-form_controls auth-form_controls-edit">
                        <button class="btn btn-edit-category-cancel">Huỷ bỏ</button>
                        <button class="btn btn--primary">Lưu</button>
                        <button class="btn btn--delete">Xoá</button>
                    </div>
                </div>
            </div>
        </div>





        <script src="../resource/js/hanghoa.js"></script>
    </main>
</body>

</html>