.report {
    width: 100%;
    background-color: #fff;
}

.report-form {
    width: 100%;
    background-color: rgb(238, 238, 238);
    padding: 8px 12px 8px 12px;
    border-radius: 3px;
    margin: 6px 0;
}

.report-item {
    width: 100%;
}

.report-form-label {
    font-weight: 600;
    font-size: 1.4rem;
}

.create-report {
    margin-top: 6px;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.8rem;
}

.selected-date-label {
    font-size: 1.25rem;
    font-weight: 500;
}