.container_report {
    position: relative;
    display: flex;
}

.body_content {
    margin-top: 36px;
}

.report {
    background-color: #fff;
}

.report-form {
    background-color: #fff;
    padding: 8px 12px 8px 12px;
    border-radius: 3px;
    margin: 6px 0;
    box-shadow: 2px 5px 20px rgba(0, 0, 0, .4);
    border: 1px solid rgba(0, 0, 0, .2);
}

.report-form-label {
    font-weight: 600;
    font-size: 1.4rem;
}

.create-report {
    margin-top: 6px;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.8rem;
}

.selected-date-label {
    font-size: 1.25rem;
    font-weight: 500;
}

.report-table {
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
    box-shadow: 1px 5px 6px rgba(0, 0, 0, .2);
}

table,
td {
    border: 1px solid black;
}

.report-table-header {
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
    background-color: #029fe3;
}

.report-table_header-time {
    font-size: 1.3rem;
    font-weight: 400;
    background-color: #fff;
}

.report-table_header-title {
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
}

.stt {
    width: 10%;
}

.name_agency {
    width: 25%;
}

.column_2 {
    width: 25%;
}

.column_3 {
    width: 25%;
}

.column_4 {
    width: 15%;
}

.report-table-body {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 400;
}

#report_CN_DT,
#report_HD {
    display: none;
}