.container_report {
    position: relative;
    display: flex;
}

.body_content {
    margin-top: 36px;
}

.report {
    background-color: #fff;
}

.report-form {
    background-color: #fff;
    padding: 8px 12px 8px 12px;
    border-radius: 3px;
    margin: 6px 0;
    box-shadow: 2px 5px 20px rgba(0, 0, 0, .4);
    border: 1px solid rgba(0, 0, 0, .2);
}

.report-form-label {
    font-weight: 600;
    font-size: 1.4rem;
}

.create-report {
    margin-top: 6px;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.8rem;
}

.selected-date-label {
    font-size: 1.25rem;
    font-weight: 500;
}