:root {
    --primary-color: #2978ac;
    --primary-color-rbga: rgb(41, 120, 172);
    --white-color: #fff;
    --black-color: #000;
    --font-color: #333;
    --header-height: 90px;
    --body--height: calc(100% -) var(--header-height);
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Arial', sans-serif;
    box-sizing: border-box;
}


/* Responsive */

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__header {
    width: 1300px;
    max-width: 100%;
    margin: 0 0;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}


/* responsive column */

.grid__column-2 {
    padding-left: 12px;
    padding-right: 12px;
    width: 16.6666667%;
}

.grid__column-2-5 {
    padding-left: 12px;
    padding-right: 12px;
    width: 20%;
}

.grid__column-10 {
    padding-left: 12px;
    padding-right: 12px;
    width: 83.33333334%;
}

.grid__column-10-1 {
    padding-left: 12px;
    padding-right: 12px;
    width: 100%;
}

.grid__column-10-1-4 {
    padding-left: 12px;
    padding-right: 12px;
    width: 40%;
}

.grid__column-8 {
    padding-left: 12px;
    padding-right: 12px;
    width: 66.6666667%;
}

.grid__column-8-12 {
    padding-left: 12px;
    padding-right: 12px;
    width: 33.33333334%;
}

.grid__column-11-12 {
    padding-left: 12px;
    padding-right: 12px;
    width: 16.6666666%;
}


/* Header Container 1*/

.header_container-1 {
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    flex-wrap: nowrap;
    align-items: center;
    height: 48px;
}

.header_brand {
    display: flex;
    font-size: 12px;
    padding-right: 30px;
    padding-left: 110px;
}

.header_brand-agency {
    color: #0776B0;
}

.header_brand-company {
    color: #49CC3F;
}

.header_user {
    font-size: 1.4rem;
    font-weight: 700;
    cursor: pointer;
    border-radius: 3px;
    padding: 8px 8px 4px 8px;
    margin-right: 115px;
    display: flex;
    flex-wrap: nowrap;
    justify-items: center;
    flex-direction: column;
}

.header_user-link {
    text-decoration: none;
    color: var(--black-color);
}

.header_user-icon {
    margin-right: 2px;
    font-size: 15px;
}

.header_user:hover .user_drop {
    display: block;
}

.header_avatar {
    vertical-align: middle;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
}

.header_user-name {
    text-align: center;
    margin-top: 4px;
    margin-left: 7px;
    font-style: normal;
}

.header_address {
    font-size: 1.5rem;
    font-weight: 500;
    max-height: 1.5rem;
    word-wrap: unset;
}

.header_container-item:hover {
    background-color: #0776B0;
}

.user_drop {
    display: none;
    list-style: none;
    z-index: 2;
    top: 5.5%;
    position: absolute;
    width: 170px;
    height: 82px;
    background-color: var(--white-color);
    margin-top: 1rem;
    animation: fadeIn ease-in 0.1s;
    border-radius: 2px;
    box-shadow: 1px 5px 6px rgba(0, 0, 0, .2);
}

.user_drop::before {
    position: absolute;
    left: 0;
    top: -16px;
    width: 100%;
    height: 20px;
    content: "";
    display: block;
}

.user_drop-item {
    padding: 8px;
    font-family: 'Roboto', sans-serif;
    color: #616060;
}

.user_drop-item:hover {
    background-color: #c8e5f3;
    color: var(--black-color);
}


/* Header Container 2*/

.header_container-2 {
    background-color: #029FE3;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    height: 45px;
    align-items: center;
    padding: 0 65px;
}

.header_navbar {
    position: absolute;
    display: flex;
    justify-content: space-between;
}

.header_navbar-list {
    position: relative;
    display: flex;
}

.header_navbar-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 3px;
    width: 135px;
    height: 45px;
}

.header_navbar-item.header_navbar-item-select {
    background-color: #0078b6;
}

.header__navbar-item-link {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    color: var(--white-color);
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 500;
    height: 100%;
    width: 100%;
}

.header__navbar-item-icon {
    font-size: 1.4rem;
    font-weight: 400;
}

.header_navbar-item:hover {
    cursor: pointer;
    background-color: #0078b6;
}

.order-btn {
    position: relative;
    margin-left: 158px;
}


/* Animation */

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes bounceOut {
    20% {
        transform: scale3d(0.9, 0.9, 0.9);
    }
    50%,
    55% {
        opacity: 1;
        transform: scale3d(1.1, 1.1, 1.1);
    }
    to {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }
}

.modal {
    position: fixed;
    display: flex;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: block;
}

.modal__body {
    position: relative;
    margin: auto;
    width: 500px;
    height: 400px;
    background-color: var(--white-color);
    display: block;
}


/* button */

.btn {
    min-width: 150px;
    height: 35px;
    text-decoration: none;
    border: none;
    border-radius: 3px;
    font-size: 1.3rem;
    padding: 0 12px;
    outline: none;
    cursor: pointer;
    color: var(--black-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    line-height: 1.4rem;
}

.btn-confirm {
    margin-right: 4rem;
}

.btn-cancel {
    background-color: (var(--white-color));
    margin-right: 1rem;
}

.btn-cancel:hover {
    background-color: rgb(211, 209, 206);
}

.btn:hover {
    opacity: 0.8;
}

.btn--primary {
    color: var(--white-color);
    background-color: var(--primary-color);
}

.btn--delete {
    background-color: #db4e65;
    color: var(--white-color);
}


/* Modal */

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    animation: fadeIn linear 0.1s;
}

.modal_overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal_body {
    --growth-from: 0.7;
    --growth-to: 1;
    border-radius: 5px;
    margin: auto;
    position: relative;
    z-index: 1;
    animation: growth linear 0.1s;
}


/* alert  */

.alert_success {
    cursor: pointer;
    display: flex;
    border-radius: 3px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.3rem;
    height: 60px;
    padding: 4px;
    margin: 5px;
    color: #8ee791;
}

.alert_errors {
    cursor: pointer;
    display: flex;
    border-radius: 3px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.3rem;
    height: 60px;
    padding: 4px;
    margin: 5px;
    color: #df431c;
}

.alert {
    position: relative;
    height: auto;
    width: 200px;
    right: -90%;
}