.container-product {
    color: #fff;
}

.body_content {
    margin-top: 36px;
}

.category {
    background-color: #ffffff;
    border-radius: 2px;
}

.cagetory_heading-page {
    font-size: 2rem;
    font-weight: 700;
    padding-bottom: 36px;
    padding-left: 12px;
    margin: 0;
    text-transform: uppercase;
    cursor: default;
    color: var(--black-color);
}

.cagetory-item {
    position: relative;
}

.cagetory-list {
    margin-bottom: 15px;
    background-color: #fff;
    position: relative;
    padding: 10px 0;
    box-shadow: 2px 5px 20px rgba(0, 0, 0, .4);
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, .2);
}

.category-list_header {
    justify-content: space-between;
    align-items: center;
    height: 24px;
    padding: 0 12px;
    font-size: 13px;
    font-weight: 700;
    color: #121212;
    background-color: transparent;
    margin: 0;
    cursor: default;
}

.cagetory-list_item {
    list-style: none;
    padding-left: 0;
}

.category-item_link {
    position: relative;
    text-decoration: none;
    color: var(--black-color);
    font-size: 1.2rem;
    padding: 7px 36px;
    display: block;
    border: none;
    cursor: pointer;
    z-index: 0;
    margin: 0;
    line-height: 16px;
    white-space: normal;
    word-break: break-word;
}

.category-item_link:hover {
    background-color: #b6b4b4;
}

.search_product {
    display: flex;
    position: relative;
}

.search_product-wrap {
    display: flex;
    height: 100%;
    position: relative;
    align-items: center;
    height: 35px;
    border: 1px solid #6b6b6b;
    width: 50rem;
    border-radius: 3px;
    margin-left: 36px;
}

.search_product-input {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 1.3rem;
    color: var(--black-color);
    padding-left: 16px;
    border-radius: 3px;
}

.search_product-btn {
    background-color: var(--primary-color);
    border: none;
    height: 100%;
    width: 90px;
    outline: none;
    cursor: pointer;
}

.search_product-btn-icon {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--white-color);
}

.search_product-btn:hover {
    opacity: 0.7;
}

.btn-add_product {
    margin-left: 20%;
}

.product-container {
    background-color: #fefced;
    width: 100%;
    margin: 28px 36px;
    border: none;
    border-collapse: collapse;
    box-shadow: 1px 5px 6px rgba(0, 0, 0, .2);
}

.product-container_header {
    color: var(--black-color);
    background-color: rgba(190, 216, 241, 2);
    cursor: default;
}

.product-container_header-item {
    padding: 12px;
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 1.3rem;
}

.product-container_product {
    color: var(--black-color);
    background-color: rgb(238, 238, 238);
    cursor: pointer;
}

.product-container_product-item {
    text-align: center;
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 1.2;
    padding: 8px;
    word-break: break-all;
}

.code-product {
    width: 20%;
}

.name-product {
    width: 40%;
}

.price-product,
.org-price-product,
.num-product {
    width: 13.3334%;
}