html {
    font-family: Arial;
    font-size: 16px;
}

body {
    margin: 0;
}

.header {
    height: var(--header-height);
}


/* Header Container 1*/

.header_container-1 {
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    flex-wrap: nowrap;
    align-items: center;
    height: 48px;
}

.header_brand {
    display: flex;
    font-size: 12px;
    padding-right: 30px;
    padding-left: 110px;
}

.header_brand-agency {
    color: #0776B0;
}

.header_brand-company {
    color: #49CC3F;
}

.header_user {
    font-size: 1.4rem;
    font-weight: 700;
    cursor: pointer;
    border-radius: 3px;
    padding: 8px 8px 4px 8px;
    margin-right: 115px;
    display: flex;
    flex-wrap: nowrap;
    justify-items: center;
}

.header_user:hover {
    background-color: rgb(236, 233, 233);
}

.header_user-icon {
    margin-right: 2px;
    font-size: 15px;
}

.header_user-name {
    line-height: 2rem;
    text-align: center;
}

.header_address {
    font-size: 1.5rem;
    font-weight: 500;
    max-height: 1.5rem;
    word-wrap: unset;
}

.header_container-item:hover {
    background-color: #0776B0;
}


/* Header Container 2*/

.header_container-2 {
    background-color: #029FE3;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    height: 45px;
    align-items: center;
    padding: 0 65px;
}

.header_navbar-item {
    display: inline-flex;
    justify-items: center;
    justify-content: center;
    margin: 0;
    border-radius: 3px;
    width: 135px;
    height: 45px;
    padding: 10px 0;
}

.header_navbar-item.header_navbar-item-select {
    background-color: #0078b6;
}

.header__navbar-item-link {
    color: var(--white-color);
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 500;
    height: 100%;
}

.header__navbar-item-icon {
    font-size: 1.4rem;
    font-weight: 400;
}

.header_navbar-item:hover {
    cursor: pointer;
    background-color: #0078b6;
}


/* body */

.container_body {
    position: relative;
    display: flex;
}

.body_content {
    margin-top: 36px;
}

.btn_order {
    position: relative;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 999px;
    outline: none;
    margin-left: 80%;
}

.btn_order:hover,
.add:hover {
    background-color: rgb(9, 160, 42);
    color: black;
}

/* Form order order */


.order_form{
    background-color: var(--white-color);
    width: 1200px;
    border-radius: 3px;
    padding-bottom: 16px;
    display: block;
    height: 600px;
}

/* order form header */
.order_form-header{
    width: 100%;
    height: 36px;
    padding: 28px 0;
    border-bottom: 1px solid var(--primary-color);
    display: flex;
    align-items: center;
}

.order_form-heading{
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.8rem;
    margin: 0;
    padding: 0 28px;
    color: var(--black-color);
}
/* order form body */
.order_form-body{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
    width: 100%;
    height: 75%;
}

/* order form LEFT */
.order_form-left{
    flex: 2.5;
    margin: 0px 10px 0px 10px;
}

.container_order{
    display: flex;
    justify-content: space-between;
    border: 0px solid #777;
    height: 40px;
    align-items: center;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .3);
    margin-bottom: 10px;
}

.container_order-left{
    display: flex;
    font-size: 1.3rem;
    flex: 1.2;
    justify-content: space-around;
    margin: 0 20px 0 10px;
}

.container_order-right{
    display: flex;
    font-size: 1.3rem;
    flex: 1.5;
    justify-content: space-around;
    margin-left: 50px;
}


.delete-icon{
    margin-top: 5px;
}

/* order form RIHGT */
.order_form-right{
    flex: 1;
}

.container_bill{
    width: 100%;
    height: 100%;
    background-color: #029FE3;
}


/* order form controls */
.order_form-controls{
    display: flex;
    justify-content: flex-end;
    margin: 15px 32px;
}