html{
    font-family: Arial;
}
body{
    margin: 0;
}
.header{
    position: relative;
    width: 100%;
    height: 90px;
    background-color: #029FE3;
}

/* Header Container 1*/
.header_container-1{
    position: absolute;
    width: 100%;
    height: 53px;
    background-color: rgb(255, 255, 255);
    z-index: 2;
}
.header_brand {
    display: inline-block;
    font-size: 21px;
    bottom: 40px;
}
.header_brand.agency{
    color: #0776B0;
    margin-left: 110px;
}
.header_brand.company{
    color: #49CC3F;
}
.header_user{
    position: absolute;
    display: inline-block;
    background-color: transparent;
    width: 100px;
    height: 30px;
    right: 111px;
    top: 15px;
}
.header_user-link{
    text-decoration: none;
    font-size: 14px;
    color: black;
}
.header_user-link:hover{
    color: #0776B0;
}
.fa-user{
    margin-right: 2px;
    font-size: 15px;
}
.address{
    margin-left: 400px;
    font-size: 15px;
    font-weight: 20px;
}

/* Header Container 2*/
.header_container-2{
    position: absolute;
    width: 100%;
    height: 40px;
    margin-top: 52px;
    background-color: #029FE3;
}
.header_navbar{
    display: flex;
    justify-content: space-between;
}
.header_navbar-list{
    list-style: none;
}
.header_navbar-item{
    display: inline-block;
    margin: 0 45px;
    font-size: 15px;
}
.header_navbar-item-all{
    margin-left: 72px;
}
.header__navbar-item-link{
    display: inline-block;
    color: var(--white-color);
    text-decoration: none;
}
.header__navbar-item-link:hover{
    cursor: pointer;
    color: rgb(39, 102, 138);
}

/* body */
.container_body{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #49CC3F;
}
.btn_add{
    position: absolute;
    right: 114px;
    top: 10px;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 999px;
}
.btn_add:hover,.add:hover{
    background-color: rgb(9, 160, 42);
    color: black;
}
