html {
    font-family: Arial;
    font-size: 16px;
}

a {
    text-decoration: none;
}

body {
    margin: 0;
}

.header {
    height: var(--header-height);
}

.change_chart {
    min-width: 150px;
    height: 35px;
    text-decoration: none;
    border: none;
    border-radius: 3px;
    font-size: 1rem;
    padding: 0 12px;
    outline: none;
    cursor: pointer;
    color: var(--white-color);
    background-color: var(--primary-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    line-height: 1.4rem;
    margin-bottom: 2rem;
}

.change_chart:hover {
    cursor: pointer;
    background-color: #1d95d1;
}

.chart-1 {
    margin: 15rem 0 0;
    height: 440px;
    width: 816px;
}

#chart {
    height: 440px;
    width: 816px;
}

#pie {
    height: 440px;
    display: none;
    width: 816px;
}

#chart_good {
    height: 440px;
    margin-top: 13rem;
    padding-bottom: 5rem;
}


/* Header Container 1*/

.header_container-1 {
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    flex-wrap: nowrap;
    align-items: center;
    height: 48px;
}

.header_brand {
    display: flex;
    font-size: 12px;
    padding-right: 30px;
    padding-left: 110px;
}

.header_brand-agency {
    color: #0776B0;
}

.header_brand-company {
    color: #49CC3F;
}

.header_user {
    font-size: 1.4rem;
    font-weight: 700;
    cursor: pointer;
    border-radius: 3px;
    padding: 8px 8px 4px 8px;
    margin-right: 115px;
    display: flex;
    flex-wrap: nowrap;
    justify-items: center;
    flex-direction: column;
}

.header_user-link {
    text-decoration: none;
    color: var(--black-color);
}

.header_user-icon {
    margin-right: 2px;
    font-size: 15px;
}

.header_user:hover .user_drop {
    display: block;
}

.header_avatar {
    vertical-align: middle;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
}

.header_user-name {
    text-align: center;
    margin-top: 4px;
    margin-left: 7px;
    font-style: normal;
}

.header_address {
    font-size: 1.5rem;
    font-weight: 500;
    max-height: 1.5rem;
    word-wrap: unset;
}

.header_container-item:hover {
    background-color: #0776B0;
}

.user_drop {
    display: none;
    list-style: none;
    z-index: 2;
    top: 5.5%;
    position: absolute;
    width: 170px;
    height: 82px;
    background-color: var(--white-color);
    margin-top: 1rem;
    animation: fadeIn ease-in 0.1s;
    border-radius: 2px;
    box-shadow: 1px 5px 6px rgba(0, 0, 0, .2);
}

.user_drop::before {
    position: absolute;
    left: 0;
    top: -16px;
    width: 100%;
    height: 20px;
    content: "";
    display: block;
}

.user_drop-item {
    padding: 8px;
    font-family: 'Roboto', sans-serif;
    color: #616060;
}

.user_drop-item:hover {
    background-color: #c8e5f3;
    color: var(--black-color);
}


/* Header Container 2*/

.header_container-2 {
    background-color: #029FE3;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    height: 45px;
    align-items: center;
    padding: 0 65px;
}

.header_navbar-item {
    display: inline-flex;
    justify-items: center;
    justify-content: center;
    margin: 0;
    border-radius: 3px;
    width: 135px;
    height: 45px;
    padding: 10px 0;
}

.header_navbar-item.header_navbar-item-select {
    background-color: #0078b6;
}

.header__navbar-item-link {
    color: var(--white-color);
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 500;
    height: 100%;
    margin: 20px 0;
}

.header__navbar-item-icon {
    font-size: 1.4rem;
    font-weight: 400;
}

.header_navbar-item:hover {
    cursor: pointer;
    background-color: #0078b6;
}


/* body */

.container_body {
    position: relative;
    display: flex;
}

.body_content {
    margin-top: 36px;
}

.btn_order {
    position: relative;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 999px;
    outline: none;
    margin-top: 30px;
}

.btn_order:hover {
    background-color: rgb(9, 160, 42);
    color: black;
}


/* contaner */

.body_content {
    margin-top: 36px;
}


/* category */

.category_heading-page {
    font-size: 2rem;
    font-weight: 700;
    padding-bottom: 36px;
    padding-left: 12px;
    margin: 0;
    text-transform: uppercase;
    cursor: default;
    color: var(--black-color);
}

.category {
    background-color: #ffffff;
    border-radius: 2px;
}

.category-wrap {
    box-shadow: 2px 5px 20px rgba(0, 0, 0, .4);
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, .2);
    padding: 10px 0;
}

.category-wrap-item {
    display: flex;
    justify-content: space-between;
}

.add-category-outside {
    padding-right: 6px;
    padding-top: 4px;
}

.category-list {
    padding: 10px 0;
    margin: 0;
    position: relative;
    list-style: none;
}

.category-list_header {
    justify-content: space-between;
    align-items: center;
    height: 24px;
    padding: 0 12px 36px;
    font-size: 13px;
    font-weight: 700;
    color: #121212;
    background-color: transparent;
    margin: 0;
    cursor: default;
}

.category-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.category-item_link {
    text-decoration: none;
    color: var(--black-color);
    font-size: 1.2rem;
    padding: 10px 18px;
    display: block;
    border: none;
    cursor: pointer;
    z-index: 0;
    margin: 0;
    line-height: 1.3rem;
}

.category-item-icon {
    color: var(--black-color);
    font-size: 1.4rem;
    font-weight: 300px;
    margin-right: 12px;
    cursor: pointer;
    display: none;
}

.category-item:hover {
    background-color: rgb(233, 232, 232);
}

.category-item:hover .category-item-icon {
    display: block;
}


/* agency */

.agency_navbar {
    background-color: var(--white-color);
    border-radius: 2px;
}

.agency_heading {
    font-size: 2.3rem;
    font-weight: 700;
    padding-bottom: 36px;
    padding-left: 12px;
    margin: 0;
    text-transform: uppercase;
    cursor: default;
    color: var(--black-color);
}

.agency_group {
    margin: 0;
    background-color: #fff;
    position: relative;
    padding: 10px 0;
    box-shadow: 2px 5px 20px rgba(0, 0, 0, .4);
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, .2);
    list-style: none;
    padding-bottom: 15px;
}

.agency_group-header {
    text-align: center;
    align-items: center;
    height: 24px;
    padding-bottom: 36px;
    font-size: 13px;
    font-weight: 700;
    color: #121212;
    background-color: transparent;
    margin: 0;
    cursor: default;
}

.agency_group-label {
    position: relative;
    margin-left: 20px;
    margin-right: 7px;
    font-size: 12px;
}

.agency_group-list {
    margin-bottom: 13px;
}

#agency_group-lis {
    margin-top: 7px;
}

#agency_group-place {
    margin-left: 20px;
}

.agency_input {
    width: 7rem;
    outline: none;
}

.agency_input-group {
    margin-left: 18px;
}


/* table */

.table_container {
    background-color: #fefced;
    width: 85%;
    margin: 28px 36px;
    border: none;
    border-collapse: collapse;
    box-shadow: 1px 5px 6px rgba(0, 0, 0, .2);
}

.table-container_header {
    color: var(--black-color);
    background-color: rgba(190, 216, 241, 2);
    cursor: default;
}

.table-container_header-item {
    padding: 12px;
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 1.3rem;
}

.table-container_body {
    color: var(--black-color);
    background-color: rgb(218, 216, 216);
    cursor: pointer;
}

.table-container_body_between {
    background-color: rgb(244, 244, 245);
}

.table-container_body:hover {
    background-color: rgb(201, 238, 198);
}

.table-container_body-item {
    text-align: center;
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 1.2;
    padding: 8px;
    word-break: break-all;
}

.table-container_body-edit {
    display: flex;
}

.editPro {
    text-decoration: none;
    color: var(--black-color);
}

.code-product {
    width: 20%;
}

.name-product {
    width: 30%;
}

.price-product,
.org-price-product,
.num-product {
    width: 13.3334%;
}

.code-agency {
    width: 10%;
}

.name-agency {
    width: 11%;
}

.address-agency {
    width: 16%;
}

.date-agency {
    width: 13%;
}

.phone-agency,
.district-agency,
.group-agency {
    width: 13%;
}

.edit-agency {
    width: 13%;
}

.edit,
.delete {
    color: var(--primary-color);
}

.edit {
    margin-right: 7px;
}


/* searching */

.search {
    display: flex;
    position: relative;
}

.search-wrap {
    display: flex;
    height: 100%;
    position: relative;
    align-items: center;
    height: 35px;
    border: 1px solid #6b6b6b;
    width: 50rem;
    border-radius: 3px;
    margin-left: 36px;
}

.search-input {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 1.3rem;
    color: var(--black-color);
    padding-left: 16px;
    border-radius: 3px;
}

.search-btn {
    background-color: var(--primary-color);
    border: none;
    height: 100%;
    width: 90px;
    outline: none;
    cursor: pointer;
}

.reset-search-btn {
    display: flex;
    height: 20px;
    border-radius: 50%;
    border: none;
    outline: none;
    margin-right: 5px;
    background-color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.reset-search-btn:hover {
    background-color: #c5bfbf99;
}

.search-btn-icon {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--white-color);
}

.search-btn-icon-refresh {
    font-weight: 900;
}

.search-btn:hover {
    opacity: 0.7;
}

.btn-add {
    margin-left: 20%;
}


/*  form big size*/

.modal.modal_add-product,
.modal.modal_add-agency,
.modal.modal-category,
.modal.modal_edit-product,
.modal.modal_edit-agency {
    display: none;
}

.auth-form {
    background-color: var(--white-color);
    width: 960px;
    border-radius: 3px;
    min-width: 960px;
    padding-bottom: 16px;
    display: none;
    margin: 70px auto;
}

.auth-form_header {
    width: 100%;
    height: 36px;
    padding: 28px 0;
    border-bottom: 1px solid var(--primary-color);
    display: flex;
    align-items: center;
}

.auth-form_heading {
    font-size: 1.7rem;
    font-weight: 600;
    line-height: 1.8rem;
    margin: 0;
    padding: 0 28px;
    color: var(--black-color);
}

.auth-form_body {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    margin-top: 4rem;
    width: 100%;
}

.auth-form_group {
    height: 45px;
    padding: 0 28px;
    display: inline-flex;
    align-items: flex-start;
    justify-content: first baseline;
    width: 100%;
}

.auth-form_body-left {
    flex: 1.5;
}

.auth-form_body-right {
    flex: 1;
}

.auth-form_info {
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 1.4rem;
    color: var(--black-color);
    height: 100%;
    min-width: 90px;
    cursor: default;
}

.auth-form_info-icon {
    color: #999999;
    font-size: 1.6rem;
    padding: 0 16px;
    cursor: pointer;
    position: relative;
}

.auth-form_input {
    flex: 1;
    font-size: 1.2rem;
    font-weight: 600;
    outline: none;
    border: none;
    border-bottom: 1px solid #777;
    line-height: 1.7rem;
    padding: 0 3px;
}

.auth-form_input:focus {
    border-bottom: 1px solid #52c25b;
}

.auth-form_controls {
    display: flex;
    justify-content: flex-end;
    margin: 0 32px;
}

.auth-form_controls-edit {
    display: flex;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
}


/* form product */

.auth-form_wrap {
    position: relative;
    width: 100%;
    flex: 1;
    display: flex;
    align-items: center;
}

.auth-form_input-group-product {
    width: 100%;
    cursor: pointer;
}

.auth-form_arrow-icon {
    position: absolute;
    font-size: 1.2rem;
    right: 0;
    cursor: pointer;
    padding: 8px;
}

.auth-form_plus-icon {
    margin: 0 8px;
    font-size: 1.4rem;
    right: 0;
    cursor: pointer;
}

.category-Product-list {
    width: 100%;
    padding: 12px 0 0 0;
    position: absolute;
    width: 100%;
    left: 0;
    top: 80%;
    background-color: var(--white-color);
    border-radius: 3px;
    box-shadow: 1px 5px 20px rgba(0, 0, 0, .2);
    display: none;
    /* animation: fadeIn ease-in 0.15s;
    will-change: animation; */
    list-style: none;
}

.category-Product-item {
    color: var(--black-color);
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 12px;
    cursor: pointer;
    padding: 0 16px;
}

.category-Product-item:hover {
    background-color: rgba(0, 0, 0, .3);
}


/* form agency */


/* body left*/

.auth_agency_selection {
    display: flex;
}

.auth_agency-group,
.auth_agency-district {
    flex: 1;
    font-size: 1.2rem;
    font-weight: 600;
    outline: none;
    border: none;
    border-bottom: 1px solid #777;
    line-height: 1.7rem;
    padding: 0 3px;
}


/* body right*/

.auth_agency_date {
    font-size: 1.5rem;
}


/* form min size */

.auth-form_min {
    background-color: var(--white-color);
    width: 450px;
    border-radius: 3px;
    min-width: 450px;
    padding-bottom: 16px;
    display: none;
}


/* pagination */

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.pagination-item {
    margin: 0 14px;
}

.pagination-item--active .pagination-item__link {
    color: var(--white-color);
    background-color: var(--primary-color);
}

.pagination-item--active:hover .pagination-item-link {
    background-color: #ed5c3f;
}

.pagination-item__link {
    --height: 30px;
    display: block;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 300;
    color: #939393;
    min-width: 40px;
    height: var(--height);
    line-height: var(--height);
    text-align: center;
    border-radius: 2px;
}


/* alert  */

.alert_success {
    cursor: pointer;
    display: flex;
    border: solid 2px #8ee791;
    border-radius: 3px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.3rem;
    height: 60px;
    padding: 4px;
    margin: 5px;
    color: #8ee791;
}

.alert_errors {
    cursor: pointer;
    display: flex;
    border: solid 2px #df431c;
    border-radius: 3px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.3rem;
    height: 60px;
    padding: 4px;
    margin: 5px;
    color: #df431c;
}

.alert {
    position: relative;
    height: auto;
    width: 200px;
    right: -85%;
}